#top{
	width: 1255px;
	height: 61px;
	margin: 0px auto;
}
#title{
	width: 1255px;
	height: 35px;
	text-align: center;
	font-weight: 500;
	font-size: 25px;
}
#admin{
	width: 1255px;
	height: 20px;
	text-align: right;
}
#global{
	width: 1255px;
	height: 517px;
	background-image: url(../img/map.png);
	margin: 5px auto;
}
#acceptable{
	border: 1px solid rosybrown;
	width: 100px;
	height: 25px;
	margin-top: 445px;
	margin-left: 685px;
	background-image: url(../img/acceptable.png);
}
#clear{
	clear: all;
}
