#top{
	width: 1255px;
	height: 61px;
	margin: 0px auto;
}
#title{
	width: 1255px;
	height: 35px;
	text-align: center;
	font-weight: 500;
	font-size: 25px;
}
#admin{
	width: 1255px;
	height: 20px;
	text-align: right;
}
#global{
	width: 1255px;
	height: 517px;
	position: relative;
	background-image: url(../img/map.png);
	margin: 5px auto;
}
#acceptable{
	position: absolute;
	left: 719px;
	top: 436px;
	width: 100px;
	height: 25px;
	background-image: url(../img/acceptable.png);
}
a{
	text-decoration: none;
}
#bike{
	background: url(../img/bike1.png) no-repeat;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/bike1.png");
}
